/*Google Font Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

li, a, button, body {
    font-family: 'Open Sans', sans-serif;
    color: #edf0f1;
}

body{
    scroll-behavior: smooth;
}

/*Navbar*/
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}   


.top {
    height: 100vh;
    width: 100%;
    background-color:black;
}

.logo {
    cursor: pointer;
    background-color: #edf0f1;
    margin-right: auto;
    position:fixed;
    top: 2px;
    left: 50px;
}

.back {
    background-color: black;
    
}

.navlinks {
    background-color: black;
    position:fixed;
    right: -10px;
    top: 0px;
    flex-direction: column;
    height: 60px;
    width: 102%;
    text-align:center;
}

li, a {
    font-weight: 500;
    font-size:20px;
    text-decoration: none;
}


nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    min-height: 70px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: rgba(169, 23, 0);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: 1100px){

    .logo {
    cursor: pointer;
    background-color: #edf0f1;
    position:fixed;
    top: 5px;
    left: 20px;
}

    .hamburger{
        display: block;
        position:fixed;
        top: 15px;
        right: 25px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    nav{
    background-color: black;
    position:fixed;
    right: -10px;
    top: 0px;
    flex-direction: column;
    height: 20px;
    width: 102%;
    text-align:center;
    }
    
    .navlinks {
        position:fixed;
        left: -100%;
        top: 95px;
        gap:0;
        flex-direction: column;
        background-color: rgba(169, 23, 0);
        width: 95%;
        height: 5%;
        text-align: center;
        transition: 0.3s;
        border-radius: 15px;
    }

    .navlinks.active {
        left: 0;
    }
    
    .navlinks a {
        display: block;
        margin: 7px 0;
        padding: 0px 10px;
        transition: all .50s ease;
        cursor: pointer;
    }

    .navlinks a:hover {
        background-color: white;
        padding: 5px 10px;
        color: var(--text-color);
        transform: translateY(5px);
        border-radius: 10px;
    }

    .navlinks a:active {
        color: var(--text-color);
    }

    .navlinks.open{
        left: 3%;
    }
}

@media (max-width: 1100px){

    .navlinks {
        position:fixed;        
        gap:0;
        flex-direction: column;
        background-color: rgba(169, 23, 0);
        width: 90%;
        height: 18;
        text-align: center;
        transition: 0.3s;
        border-radius: 15px;
    }

}

@media (max-width: 1100px){

    

    .navlinks {
        top: 75px;
        height: 18%;
    }

}



/*Content*/

.content{
   position: absolute;
    top:60%;
    left: 4%;
    transform: translateY(-50%);
}

.content h1{
    margin: 20px 0px 20px;
    font-size: 80px;
}

.content h3{
    margin-bottom: 50px;
    font-size: 30px;
}

.content h4{
    letter-spacing: 2px;
    font-size: 20px;
}

span{
    color:rgba(169, 23, 0);
}

@media (max-width: 991px){
    .content{
         transform: translateY(-45%);
     }

    .content h1{
        margin: 15px 0px 15px;
        font-size: 70px;
    }

    .content h3{
        margin-bottom: 40px;
        font-size: 25px;
    }

    .content h4{
        letter-spacing: 2px;
    font-size: 18px;
    }

}

@media (max-width: 768px){
    .content h1{
        margin: 10px 0px 10px;
        font-size: 65px;
    }

    .content h3{
        margin-bottom: 35px;
        font-size: 20px;
    }

    .content h4{
        letter-spacing: 2px;
    font-size: 15px;
    }
}

/*About Section*/

.about{
    width: 100%;
    background-color:#0d0c0ced;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

.about .row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 90px;
}


.about .row .left img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 30px;
    padding-top: 10px;
    
}

.about .row .right {
    display: flex;
    align-items: center;
}

.about .row .right .text{
    padding-left: 5px;
}

.about .row .right .text h2{
    font-size: 45px;
    line-height: 26px;
    padding-bottom: 23px;
}

.about .row .right .text p{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
}

@media (max-width: 991px){
    .about .row .right .text{
        padding-left: 0;
    }

}

@media (max-width: 768px){
    .about .row {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .about .row .right .text{
        padding-left: 5px;
    }

    .about .row .left img {
        padding-right: 5px;
    }

    .about .row .right .text h2{
        font-size: 40px;
        line-height: 24px;
    
    }
    
    .about .row .right .text p{
        font-size: 17px;
        line-height: 24px;

    }
}

/*Portfolio*/

.portfolio{
    width: 100%;
    background-color:black;
    min-height: 100vh;
    display:grid;
    place-items: center;
    
}

.portfolio h2{
    font-size: 45px;
    line-height: 26px;
}

.portfolio .row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px 60px;
}


.portfolio .row .left img {
    width: 130%;
    height: 93%;
    object-fit:contain;
    border-radius: 20px;
    padding-right: 40px;
}

.portfolio .row .right {
    display: flex;
    align-items: center;
}

.portfolio .row .right .text{
    padding-left: 80px;
}

.portfolio .row .right .text h2{
    font-size: 45px;
    line-height: 26px;
    padding-bottom: 23px;
}

.portfolio .row .right .text p{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
}

@media (max-width: 991px){
    .portfolio .row .right .text{
        padding-left: 0;
    }

}

@media (max-width: 768px){
    .portfolio .row {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .portfolio .row .left img {
        width: 100%;
        height: 100%;
        object-fit:contain;
        border-radius: 20px;
        padding-left: 30px;
        padding-bottom: 30px;        
    }

    .portfolio .row .right .text p{
        font-size: 17px;
        line-height: 24px;
        
    }
}
    
