/*Google Font Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

li, a, button, body {
    font-family: 'Open Sans', sans-serif;
    color: #edf0f1;
}

/*Navbar*/
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: black;
}

li, a, button {
    font-weight: 500;
    font-size:19px;
    text-decoration: none;
}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #edf0f1;
    
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    margin-left: 50px;
    padding: 10px 22px;
    background-color: rgba(169, 23, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;;
}

button:hover {
    background-color:#0088a9;
}

